[req]
distinguished_name = subject
x509_extensions = extensions
prompt = no

[subject]
CN = 127.0.0.1

[extensions]
basicConstraints = critical,CA:FALSE
keyUsage = critical,digitalSignature,keyEncipherment
extendedKeyUsage = serverAuth
subjectAltName = IP:127.0.0.1
